# env
.env
__pycache__/
*.pyc
venv/
env/

# logs
live_features.csv
paper_trades.json

# models
models/*.json
models/*.pkl
models/*.cbm

# catboost logs
catboost_info/

# logs
*.log
paper_trades.json
trades.log
logs_archive/

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
ensemble_*.cbm
ensemble_*.pkl
ensemble_*.json
data/
